#headerbox #pic {
	background-color: #28a9e2;
	border-radius: 15px;
	margin: 15px 15px 15px 15px;
}

#content h4 {
	font-family: "Brush Script MT", cursive, san-serif;
	font-weight: bold;
	text-align: center;
	font-size: 200%;
	color: #424242;
	line-height: 1;
}

#content p {
	font-family: ‘American Typewriter’, ‘Courier New’, Courier, Monaco, mono;
	font-weight: bold;
	text-align: center;
	font-size: 80%;
	color: #BDBDBD;
	line-height: 1;
}

#content .thumbnail {
	-webkit-box-shadow: 13px 11px 6px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    13px 11px 6px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         13px 11px 6px 0px rgba(50, 50, 50, 0.7);
}

#content .thumbnail:hover {
	-webkit-transform: scale(1.1) rotate(3deg);
	-ms-transform: scale(1.1) rotate(3deg);
	transform: scale(1.1) rotate(3deg);
	-webkit-box-shadow: 18px 15px 6px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    18px 15px 6px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         18px 15px 6px 0px rgba(50, 50, 50, 0.7);
}

#content .caption {
	border: 1px #FAFAFA solid;
	padding: 0px;
}






#content .thumbnail // all words and image in here
#content #outer //outer div for image
#content img //just the image


